.sazkaPage__menu {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	background: #fff;
	border: 1px solid var(--my-border);
	border-left: none;
	border-right: none;
	align-items: center;

	a {
		padding: 10px;
		text-transform: uppercase;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}
}

.sazkaPage__separator {
	width: 1px;
	background: var(--my-border);
	height: 50px;
}

.sazkaPage__leftPart,
.sazkaPage__rightPart {
	display: flex;
	align-items: center;
}

.sazkaPage__menuComplete {
	&.disabled {
		color: var(--my-border);
		pointer-events: none;
		cursor: not-allowed;
	}
}

.sazkaPage__menuAmount {
	display: block;
	font-weight: bold;
	margin-top: 5px;
}


@media only screen and (max-width: 640px) {
	.sazkaPage__menu {
		flex-direction: column;
	}

	.sazkaPage__separator {
		display: none;
	}

	.sazkaPage__leftPart,
	.sazkaPage__rightPart {
		flex-direction: column;
	}

	.sazkaPage__menuAmount {
		display: inline-block;
		margin-left: 5px;
	}
}
